.body {
    font-family: "Fira Sans", sans-serif;
    line-height: 16px;
}

/* navbar */

.navbar {
    height: 75px;
}

.bg-C6CBFF {
    background-color: #C6CBFF;
}

.navbar-brand {
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    display: block;
    width: 50px;
    height: 50px;
    background-image: linear-gradient(to right, #2979FF, #4C589E);
    border-radius: 4px;
    font-size: 33px;
    color: white;
    font-weight: 600;
    text-align: center;
    margin-right: 15px;
}

.shop-name {
    color: #0C2146;
    font-size: 34px;
    font-weight: 600;
}

.nav-help {
    font-size: 24px;
    font-weight: 600;
    color: #0C2146 !important;
}

/* body */

.body-header {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.body-header div:nth-child(1) {
    color: #A9A9A9;
}

.body-header div:nth-child(2) {
    color: #A9A9A9;
    margin-left: 5px;
    margin-right: 5px;
}

.body-header div:nth-child(3) {
    color: #151515;
}

.body-title {
    font-size: 30px;
    font-weight: 700;
}

hr {
    border-top-width: 3px !important;
}

.body-content {
    padding: 50px;
    display: flex;
}

.body-content form {
    margin: auto;
}

.body-content form label {
    min-width: 170px;
    font-weight: 600;
}

.body-content form input {
    width: 300px;
    height: 40px;
    background-color: #F9F9F9;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 10px;
}

button[type="submit"] {
    color: #fff;
    background-color: #6A983C;
    border: 1px solid #46760A;
    width: 130px;
    height: 35px;
    border-radius: 4px;
    margin-left: 170px;
}

/* footer */

.footer {
    background-color: #CCC9C9;
    width: 100%;
    height: auto;
    padding: 20px 0;
}

.footer-title {
    margin-bottom: 10px;
}

.footer-content div {
    margin: 10px 0;   
    cursor: pointer; 
}